@import "styles/app";

.quantityBtn {
  &:hover,
  &:focus {
    color: theme-color("primary") !important;
  }
}

.info {
  height: 180px;
  @media (max-width: 768px) {
    height: 100%;
  }
  &__item {
    section {
      @media (max-width: 768px) {
        height: 97px !important;
      }
    }
  }
}

.reviewImg {
  width: 132px;
  height: 132px;
  @media (max-width: 992px) {
    display: none;
  }
}

.dMdNone {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.detailCategory {
  @media (max-width: 992px) {
    margin-top: 20px;
  }
}

.detailRating {
  @media (max-width: 992px) {
    margin: 2px 0 9px 0;
  }
}

.leaveFeedbackBtn {
  transition: color .2s .3ms;
  &:hover {
    color: #232323 !important;
  }
}

.modalProduct {
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.product {
  &:hover {
    a {
      color: theme-color("primary")
    }
  }
  a {
    color: #232323;
  }
}

.bannersContainer {
  margin-top: 32px;
  margin-bottom: 80px;
}

.mainBanner {
  margin-bottom: 40px;
  cursor: pointer;
  text-align: center;
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    font-size: 60px;
  }
}

.categoryBlock {
  cursor: pointer;
  height: 210px;
  position: relative;
  margin-bottom: 40px;
  background-image: url('../../public/images/e-commerce/spring-sale.jpg');
  .rightDiscount {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 16px 20px;
    letter-spacing: 0.2em;
    font-size: 15px;
    background: #262626;
    color: #fff;
    font-weight: bold;
  }
}

.kitchenBanner {
  margin-bottom: 40px;
  background-image: url('../../public/images/e-commerce/kitchen_banner.jpg');
}
.livingRoomBanner {
  margin-bottom: 40px;
  background-image: url('../../public/images/e-commerce/clock_1.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #F3ECE4;
}

.livingRoomBanner, .kitchenBanner {
  cursor: pointer;
  height: 210px;
  position: relative;
  color: #262626;
  .textContent {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 28px;
  }
  span {
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: bold;
    display: block;
  }
  strong {
    font-size: 26px;
    line-height: 40px;
    display: block;
  }
  b {
    color: #BD744C;
    margin-top: 22px;
    font-size: 14px;
    display: block;
    font-weight: bold;
  }
}

.pillows {
  cursor: pointer;
  margin-bottom: 40px;
  background-image: url('../../public/images/e-commerce/pillows_banner.jpg');
  height: 210px;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  span {
    color: #A25637;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  strong {
    font-size: 27px;
    line-height: 40px;
  }
}

.bedLinen {
  cursor: pointer;
  background-size: cover;
  background-image: url('../../public/images/e-commerce/linen_banner.jpg');
  height: 210px;
  position: relative;
  color: #fff;
  margin-bottom: 40px;
  font-size: 27px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relatedTitle {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 30px;
}