@import "../../../styles/app";

.socialLink {
  color: #ffffff;
  transition: color .35s ease;
  & > svg {
    margin-right: 12px;
  }
  &:hover, &:focus {
    color: var(--primary);
  }

  &:active {
    color: #883C26!important;
  }

  &:disabled {
    color: #9D9D9D!important;
  }
}
.linksRow {
  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

.socialLinks {
  margin-top: 20px;
}
.navigationLink {
  color: $text-muted;
  cursor: pointer;
  & > h6 {
    transition: color .35s ease;
    &:hover, &:focus {
      color: #f4f4f4;
    }    
  }
  &:hover, &:focus {
    color: #f4f4f4;
  }
}

.footer {
  height: 100%;
  background-color: $text-color;
  padding-top: 24px;

  &__hr {
    border-top: 1px solid #434343;
  }
}
