@import "styles/app";

.loginSection {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnGroup {
  height: 96px;
  display: flex;
  :global(.btn-outline-primary) {
    border-color: #d9d9d9;
    color: #262626 !important;
    font-size: 20px;
    &:hover, &::after {
      color: #232323 !important;
      background-color: $white !important;
      border-color: theme-color("primary");
    }
    img {
      margin-right: 1em;
      @media (max-width: 1200px) {
        margin-right: 0;
      }
      @media (max-width: 576px) {
        width: 40px;
      }
      @media (max-width: 425px) {
        width: 30px;
      }
    }
    @media (max-width: 1200px) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 992px) {
      font-size: 13px;
      padding: 0;

    }
  }
  :global(.btn-outline-primary.active) {
    background-color: $white !important;
    color: #262626 !important;
    box-shadow: none !important;
  }
  
}

.paymentInfo {
  background-color: #f5f5f5;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .checkOutBtn {
    margin: 10px -32px -32px;
    width: calc(100% + 64px);
  }
}

.form {
  :global(label) {
    color: #555;
  }
}
