@import "../styles/app";

.promo {
  background-color: $addition-bg;
  @media (min-width: 768px) {
    background-image: url("../public/images/e-commerce/home/promo.png");
  }
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  &__indication {
    display: flex;
    &__block {
      border: 1px solid $text-color;
      height: 64px;
      width: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 15px;
      }
      h5 {
        color: theme-color("primary");
        font-weight: $font-weight-bold;
      }
    }
  }
}

.stroke {
  border: 5px solid theme-color("primary");
  width: 64px;
  border-radius: 30px;
}

.top {
  &_first {
    background-image: url("../public/images/e-commerce/home/top1.jpg");
    width: 100%;
    height: 446px;
    padding: 50px 32px;
    transition: background-size 0.35s ease;
    background-size: 105%;
    background-position: center;
    cursor: pointer;
    &:hover,
    &:focus {
      background-size: 110%;
    }
    .stroke {
      margin-top: 8px;
      width: 30px;
      border: 3px solid theme-color("primary");
      border-radius: 30px;
    }
  }
  @media (max-width: 767px) {
    &_first {
      margin-bottom: 30px;
      background-size: cover;
      height: 446px;
    }
  }
}

.top2 {
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../public/images/e-commerce/home/top2.jpg");
  height: 208px;
  background-repeat: no-repeat;
  display: flex;
  padding: 30px 15px;
  transition: background-size 0.35s ease;
  background-size: 105%;
  background-position: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-size: 110%;
  }
  div {
    margin-left: auto;
    text-align: right;
  }
  @media (max-width: 767px) {
    & {
      margin-bottom: 30px;
      background-size: cover;
      height: 446px;
    }
  }
}

.top3 {
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../public/images/e-commerce/home/top3.jpg");
  height: 208px;
  background-repeat: no-repeat;
  display: flex;
  padding-bottom: 24px;
  transition: background-size 0.35s ease;
  background-size: 105%;
  background-position: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-size: 110%;
  }
  .label {
    margin-left: auto;
    margin-top: auto;
    background-color: #262626;
    padding: 16px 24px;
  }
  @media (max-width: 767px) {
    & {
      margin-bottom: 30px;
      background-size: cover;
      height: 446px;
    }
  }
}

.top4 {
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../public/images/e-commerce/home/top4.jpg");
  height: 208px;
  background-repeat: no-repeat;
  display: flex;
  padding-bottom: 24px;
  transition: background-size 0.35s ease;
  background-size: 105%;
  background-position: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-size: 110%;
  }
  .label {
    margin-left: auto;
    margin-top: auto;
    background-color: #262626;
    padding: 16px 24px;
  }
  @media (max-width: 767px) {
    & {
      margin-bottom: 30px;
      background-size: cover;
      height: 446px;
    }
  }
}

.top5 {
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../public/images/e-commerce/home/top5.jpg");
  height: 208px;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 16px;
  align-items: flex-start;
  transition: background-size 0.35s ease;
  background-size: 105%;
  background-position: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-size: 110%;
  }
  div:first-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .stroke {
      flex-basis: 100%;
      background-color: #262626;
      height: 1px;
      border: none !important;
    }
    div:nth-child(2) {
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 767px) {
    & {
      margin-bottom: 30px;
      background-size: cover;
      height: 446px;
    }
  }
}

.imgAnimation {
  overflow: hidden;
  max-width: 100%;
  max-height: 233px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    max-width: 100%;
    transition: max-width 0.65s ease;
  }
  &:hover,
  &:focus {
    img {
      max-width: 115%;
    }
  }
}

.carousel {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: transform;
  transform: translateZ(0);
}

/* Parallax animation */
.parallax {
  animation: parallaxMove 8s ease-in-out infinite alternate;
}

@keyframes parallaxMove {
  from {
    background-position: center 0px;
  }
  to {
    background-position: center -60px;
  }
}

.carousel {
  &.firstImg {
    background-position: bottom;
    background-image: url("../public/images/e-commerce/home/bg.png");
  }
  &.secondImg {
    background-position: bottom;
    background-image: url("../public/images/e-commerce/home/second_hero.jpg");
  }
  &.thirdImg {
    background-position: bottom;
    background-image: url("../public/images/e-commerce/home/first_hero.jpg");
  }
}

.promo__indication__block {
  transition: transform 0.2s ease;
  will-change: transform;

  h5 {
    font-variant-numeric: tabular-nums; // smooth digit width
  }
}

.info {
  height: 180px;
  @media (max-width: 768px) {
    height: 100%;
  }
  &__item {
    height: 85% !important;
    section {
      @media (max-width: 768px) {
        height: 97px !important;
      }
    }
    &:not(:last-child) {
      border-right: 1px solid #d9d9d9;
    }
  }
}

.topMargin {
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.newArrivals {
  @media (max-width: 768px) {
    font-size: 30px !important;
  }
}

.viewMoreBtn {
  & > * {
    z-index: 1;
  }
  &::after {
    z-index: 0 !important;
  }
  .arrowRight {
    background: url("../public/images/e-commerce/home/arrow-rightp.svg");
    width: 24px;
    height: 24px;
    position: relative;
    transition: left 0.25s ease;
    left: 0px;
  }
  &:hover,
  &:active,
  &:focus {
    .arrowRight {
      left: 8px;
      background: url("../public/images/e-commerce/home/arrow-right-hover.svg");
    }
  }
}

.modalWidndow {
  display: flex;
  div.image,
  div.content {
    width: 50%;
    button {
      @media (max-width: 900px) {
        padding: 10px;
      }
    }
    @media (max-width: 900px) {
      width: auto;
    }
  }
  & > div > img {
    @media (max-width: 900px) {
      max-width: 500px;
    }
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.product {
  .product__actions {
    @media (max-width: 576px) {
      opacity: 1 !important;
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      max-width: 245px;
      width: 100%;
      margin: 0 auto;
      transform: translateX(35%);
    }
  }
  &:hover {
    h6:first-child {
      color: theme-color("primary");
    }
    .product__actions {
      opacity: 1 !important;
    }
  }
  h6:first-child {
    color: #232323;
  }
  &__actions {
    transition: all 0.65s ease;
    opacity: 0 !important;
    &__heart {
      background: url("../public/images/e-commerce/shop/heart.svg");
      width: 24px;
      height: 24px;
      &:hover {
        background: url("../public/images/e-commerce/shop/heart-hover.svg");
      }
    }
    &__max {
      background: url("../public/images/e-commerce/shop/maximize.svg");
      width: 24px;
      height: 24px;
      &:hover {
        background: url("../public/images/e-commerce/shop/maximize-hover.svg");
      }
    }
    &__cart {
      background: url("../public/images/e-commerce/shop/shopping-cart.svg");
      width: 24px;
      height: 24px;
      &:hover {
        background: url("../public/images/e-commerce/shop/shopping-cart-hover.svg");
      }
    }
  }
}

.productInfo {
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 245px;
    margin: 0 auto;
    justify-content: flex-start;
  }
}

.productImage {
  transition: all 0.65s ease;
  max-width: 100%;
  width: 100%;
  height: 264px;
  max-height: 264px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    transform: scale(1.03) translate(-0px, -0px);
  }
  @media (max-width: 768px) {
    background-size: cover;
  }
  @media (max-width: 380px) {
    background-size: contain;
    background-color: #f6f6f6;
  }
}

.quantityBtn {
  &:hover,
  &:focus {
    color: theme-color("primary") !important;
  }
}
